<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
	</array>
	<key>NSObservationTrackingEnabled</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>PraxPress PDFFile Item</string>
			<key>UTTypeIdentifier</key>
			<string>com.praxpress.pdf-file-item</string>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>PraxPress PDFPageItem</string>
			<key>UTTypeIdentifier</key>
			<string>com.praxpress.pdf-page-item</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>praxpress</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>PraxPress PDFPageSection</string>
			<key>UTTypeIdentifier</key>
			<string>com.praxpress.pdf-page-section</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>praxpress</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>com.apple.security.files.bookmarks.app-scope</key>
	<true/>
</dict>
</plist>
